# model nlp

In [33]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import nltk
import unicodedata
import re
from env import user, password, host
import numpy as np
import acquire as a
from wordcloud import WordCloud
import nltk.sentiment
import requests
from bs4 import BeautifulSoup
from sklearn.model_selection import train_test_split

# Exercises

Do your work for this exercise in a file named model.

Take the work we did in the lessons further:

* What other types of models (i.e. different classifcation algorithms) could you use?
* How do the models compare when trained on term frequency data alone, instead of TF-IDF values?

Goal: to predict if the category of an article is Technology

# acquire Data

In [83]:
ADDITIONAL_STOPWORDS = ['r', 'u', '2', 'ltgt']
def clean(text):
    'A simple function to cleanup text data'
    wnl = nltk.stem.WordNetLemmatizer()
    stopwords = nltk.corpus.stopwords.words('english') + ADDITIONAL_STOPWORDS
    text = (unicodedata.normalize('NFKD', text)
             .encode('ascii', 'ignore')
             .decode('utf-8', 'ignore')
             .lower())
    words = re.sub(r'[^\w\s]', '', text).split()
    return [wnl.lemmatize(word) for word in words if word not in stopwords]

In [84]:
inshort_df = a.inshort_info()

In [85]:
inshort_df = pd.DataFrame(inshort_df)

In [86]:
sports_words = clean(' '.join(inshort_df.content[inshort_df.category == 'sports']))
politics_words = clean(' '.join(inshort_df.content[inshort_df.category == 'politcs']))
technology_words = clean(' '.join(inshort_df.content[inshort_df.category == 'technology']))
science_words = clean(' '.join(inshort_df.content[inshort_df.category == 'science']))
entertainment_words = clean(' '.join(inshort_df.content[inshort_df.category == 'entertainment']))
world_words = clean(' '.join(inshort_df.content[inshort_df.category == 'world']))

In [87]:
inshort_df.category.value_counts()

national         25
business         25
sports           25
politics         25
startup          25
hatke            25
automobile       25
world            24
entertainment    24
science          24
technology       23
miscellaneous    23
Name: category, dtype: int64

In [88]:
inshort_df[inshort_df.category== 'technology']

,title,content,category
124,Indians write 35% of 100 mn lines of codes for...,Finance Minister Nirmala Sitharaman said that ...,technology
125,TCS to hire up to 1.5 lakh employees in the ne...,Tata Consultancy Services (TCS) is planning to...,technology
126,Tata could be India's first homegrown iPhone m...,Tata Group is nearing the takeover of a major ...,technology
127,"Who is AC Charania, NASA's new Chief Technolog...",Indian-American AC Charania has been named NAS...,technology
128,First-ever rocket launch from UK ends in failu...,The first-ever rocket launch from the UK ended...,technology
129,Musk's tweet about disabling driver monitoring...,The US NHTSA has questioned Tesla over its CEO...,technology
130,Ex-Coinbase manager's brother gets 10 months p...,The brother of former Coinbase product manager...,technology
131,CCI order puts Indian Android users' privacy a...,Google has reportedly told the Supreme Court i...,technology
132,Tata-run iPhone plant would boost India's elec...,Tata Group succeeding with its bid to take ove...,technology
133,"Instagram to redesign home screen, remove Shop...",Instagram said on Tuesday that it is simplifyi...,technology
134,NASA appoints Indian-American AC Charania as C...,"AC Charania, an Indian-American aerospace indu...",technology
135,"Body representing Google, Meta calls panel's r...","Industry body Asia Internet Coalition (AIC), r...",technology
136,Apple to use in-house Bluetooth and Wifi chip ...,Apple is reportedly planning to replace Broadc...,technology
137,"BMW recalls over 14,000 EVs over loss of power...","Automaker BMW has recalled over 14,000 electri...",technology
138,Tolerance level between disaster & great quart...,Rajesh Gopinathan presented his 40th earnings ...,technology
139,Alibaba signs cooperation agreement with Chine...,Jack Ma-owned Alibaba has signed a cooperation...,technology
140,We should admire ISRO's record more: Mahindra ...,Businessman Anand Mahindra praised India's spa...,technology
141,Droneacharya stock rises 4 times the listing p...,"Droneacharya Aerial Innovations, which was lis...",technology
142,Apple's Vice President of Services Peter Stern...,"Apple's Vice President of Services, Peter Ster...",technology
143,Several countries have expressed intent to ado...,Several countries have expressed intent to ado...,technology
144,Microsoft in talks to invest $10 billion in Ch...,Microsoft is reportedly in talks to invest $10...,technology
145,Apple set to launch its mixed-reality headset ...,Apple is planning to introduce a mixed-reality...,technology
146,Choose a field & stay put for some time: TCS C...,When asked what his advice to students graduat...,technology

In [89]:
inshort_df['technology']= inshort_df.category.map({'technology':'yes' })

In [90]:
inshort_df.technology.fillna('no', inplace=True)

In [91]:
inshort_df

,title,content,category,technology
0,"Woman, fiance beaten up by bouncers at Gurugra...",A woman and her fiance suffered injuries after...,national,no
1,"Indian-origin man gets 13-year jail, 10 stroke...",An Indian-origin man has been sentenced to 13 ...,national,no
2,India successfully carries out training launch...,A successful training launch of a short-range ...,national,no
3,"NOCs of over 2,000 CBSE schools in Maha to be ...",Maharashtra Education Commissioner Suraj Mandh...,national,no
4,"Cong is embarrassed by what Rahul says, he's i...",BJP leader and Haryana Chief Minister Manohar ...,national,no
...,...,...,...,...
288,Stellantis may shut more auto plants due to hi...,Stellantis NV CEO Carlos Tavares said on Thurs...,automobile,no
289,Tesla owners in China demand refund after sudd...,Around 200 recent buyers of Tesla's Model Y an...,automobile,no
290,Rolls-Royce reports record car sales in 118 years,Luxury car maker Rolls-Royce has sold 6021 car...,automobile,no
291,Tata Motors completes ₹725-crore acquisition o...,Tata Motors on Tuesday said that the acquisiti...,automobile,no
292,Tesla's December sales in China fall 41% despi...,Tesla's December sales in China plunged 41% fr...,automobile,no

# Split Data

In [92]:
def split_data(df, target):
    '''
    split_date takes in a dataframe  and target variable and splits into train , validate, test 
    and stratifies on target variable
    
    The split is 20% test 80% train/validate. Then 30% of 80% validate and 70% of 80% train.
    Aproximately (train 56%, validate 24%, test 20%)
    
    returns train, validate, and test 
    '''
    # split test data from train/validate
    train_validate, test = train_test_split(df, test_size=.2, 
                                        random_state=123, 
                                        stratify=df[target])

    # split train from validate
    train, validate = train_test_split(train_validate, test_size=.3, 
                                   random_state=123, 
                                   stratify=train_validate[target])

                                   
    return train, validate, test

In [93]:
train, validate, test = split_data(inshort_df,'technology')

In [95]:
tech_article = train[train.technology=='yes']
non_tech_articles = train[train.technology == 'no']

# model

In [96]:
from sklearn.feature_extraction.text import CountVectorizer

# same basic process as any sklearn transformation:
# make the thing
cv = CountVectorizer()
# use the thing
bag_of_words = cv.fit_transform(train.content)

In [97]:
bag_of_words

<163x2956 sparse matrix of type '<class 'numpy.int64'>'
	with 7440 stored elements in Compressed Sparse Row format>

In [98]:
bag_of_words.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])

In [99]:
cv.get_feature_names()

/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['00',
 '000',
 '01',
 '058',
 '06',
 '094',
 '10',
 '100',
 '104',
 '108',
 '11',
 '113',
 '118',
 '12',
 '122',
 '123',
 '12th',
 '13',
 '131',
 '14',
 '149',
 '15',
 '150',
 '155',
 '156',
 '16',
 '163',
 '164',
 '16th',
 '17',
 '179',
 '18',
 '19',
 '1903',
 '1984',
 '20',
 '2002',
 '2007',
 '2008',
 '2009',
 '2014',
 '2016',
 '2017',
 '2018',
 '2019',
 '202',
 '2020',
 '2021',
 '2022',
 '2023',
 '2024',
 '2025',
 '2026',
 '2030',
 '2032',
 '2034',
 '2040',
 '21',
 '210',
 '21st',
 '22',
 '220',
 '224',
 '225',
 '23',
 '230',
 '232',
 '24',
 '240',
 '25',
 '26',
 '283',
 '29',
 '300',
 '31',
 '32',
 '323',
 '329',
 '33',
 '34',
 '35',
 '352',
 '354',
 '38',
 '384',
 '39',
 '40',
 '41',
 '417',
 '42',
 '442',
 '45',
 '452',
 '47',
 '50',
 '500',
 '52',
 '529',
 '53',
 '54',
 '55',
 '58',
 '60',
 '600',
 '6021',
 '604',
 '65',
 '66',
 '67',
 '70',
 '71',
 '72',
 '725',
 '73rd',
 '747',
 '75',
 '76',
 '771',
 '800',
 '80s',
 '82',
 '83',
 '85',
 '86',
 '87',
 '88',
 '900',
 '950',
 '963',
 '97',
 '974',
 '98',
 '99',
 'aadhaar',
 'aadmi',
 'aaji',
 'aam',
 'aap',
 'aaryan',
 'abandon',
 'abandoned',
 'abhishek',
 'ability',
 'able',
 'aboobacker',
 'about',
 'abraham',
 'abroad',
 'absconding',
 'absolute',
 'absolutely',
 'abuse',
 'abused',
 'ac',
 'academy',
 'accel',
 'accepted',
 'acche',
 'accidentally',
 'accommodate',
 'accompanied',
 'according',
 'account',
 'accused',
 'achieve',
 'acquire',
 'acquired',
 'acquisition',
 'acreage',
 'across',
 'act',
 'acting',
 'action',
 'actor',
 'actors',
 'actress',
 'actresses',
 'ad',
 'adam',
 'added',
 'adding',
 'addition',
 'additional',
 'addressing',
 'aditya',
 'administrative',
 'admire',
 'admitted',
 'adopt',
 'adopted',
 'adoption',
 'adorable',
 'ads',
 'advance',
 'advertisement',
 'advertising',
 'advice',
 'advise',
 'advised',
 'advisors',
 'aerial',
 'aerospace',
 'affairs',
 'affect',
 'after',
 'again',
 'against',
 'age',
 'agency',
 'aggregator',
 'aggressive',
 'agnihotri',
 'ago',
 'agreement',
 'agriculture',
 'ahead',
 'aic',
 'aid',
 'aim',
 'air',
 'aircraft',
 'akaal',
 'akali',
 'akhtar',
 'akshay',
 'alcohol',
 'ali',
 'alibaba',
 'align',
 'alipurduar',
 'all',
 'alleged',
 'allegedly',
 'allocation',
 'allotment',
 'allow',
 'allowed',
 'alloys',
 'almost',
 'alone',
 'along',
 'alongside',
 'already',
 'also',
 'alumnus',
 'always',
 'am',
 'ambassador',
 'ambassadors',
 'ambitions',
 'america',
 'american',
 'amid',
 'amidst',
 'amit',
 'among',
 'amount',
 'amritsar',
 'amroha',
 'an',
 'anand',
 'ancestors',
 'anchor',
 'and',
 'andhra',
 'andrew',
 'anil',
 'annalena',
 'annie',
 'announced',
 'announcement',
 'announcing',
 'annual',
 'anomaly',
 'another',
 'ant',
 'anti',
 'antique',
 'antitrust',
 'anup',
 'any',
 'apart',
 'apologise',
 'app',
 'apparently',
 'appeal',
 'appealed',
 'apple',
 'appointed',
 'appreciate',
 'approval',
 'arasan',
 'are',
 'area',
 'areas',
 'arena',
 'arjun',
 'arms',
 'arora',
 'around',
 'arrest',
 'arrested',
 'arriving',
 'arrogance',
 'arshdeep',
 'art',
 'artillery',
 'arts',
 'arvind',
 'as',
 'asbe',
 'ascertain',
 'ashish',
 'ashneer',
 'ashoke',
 'asia',
 'asked',
 'asking',
 'aspirants',
 'assadi',
 'assadolah',
 'assam',
 'assault',
 'assembly',
 'assistant',
 'assisted',
 'associated',
 'association',
 'assurance',
 'astonishing',
 'astonishment',
 'astrologers',
 'astronauts',
 'astronomers',
 'astronomical',
 'at',
 'atlanta',
 'atlantic',
 'atletico',
 'atm',
 'attacked',
 'attacking',
 'attacks',
 'attempted',
 'attention',
 'attire',
 'attributes',
 'augmented',
 'australia',
 'authorisation',
 'authorities',
 'auto',
 'automakers',
 'automobile',
 'autorickshaw',
 'avenue',
 'average',
 'avoid',
 'award',
 'awards',
 'away',
 'axa',
 'axis',
 'ayodhya',
 'azad',
 'babies',
 'baby',
 'bachelor',
 'back',
 'backed',
 'backup',
 'bad',
 'badal',
 'badminton',
 'badrinath',
 'baerbock',
 'baghpat',
 'bahraich',
 'bailable',
 'bails',
 'balan',
 'balances',
 'balbir',
 'balls',
 'balochistan',
 'balrampur',
 'bam',
 'bandhan',
 'bank',
 'banks',
 'banned',
 'bar',
 'barged',
 'baroda',
 'barred',
 'bars',
 'based',
 'basel',
 'batch',
 'batter',
 'battle',
 'bcci',
 'be',
 'beach',
 'beachside',
 'beaten',
 'beating',
 'beautiful',
 'became',
 'because',
 'become',
 'becomes',
 'been',
 'beenext',
 'before',
 'began',
 'begin',
 'behind',
 'beijing',
 'being',
 'belgian',
 'belgium',
 'belief',
 'believes',
 'bench',
 'benefit',
 'benfica',
 'bengal',
 'bengaluru',
 'berkshire',
 'besharam',
 'best',
 'better',
 'between',
 'beverage',
 'beyond',
 'bhagwat',
 'bhakt',
 'bharat',
 'bharatiya',
 'bharatpe',
 'bharti',
 'bhasker',
 'bhogle',
 'bhool',
 'bhopal',
 'bhulaiyaa',
 'bhushan',
 'bhutto',
 'bhuvan',
 'bhuyan',
 'bicornuate',
 'bid',
 'big',
 'bigger',
 'bihar',
 'bilawal',
 'billion',
 'bindi',
 'bird',
 'birds',
 'birth',
 'birthdates',
 'biswa',
 'bites',
 'bjp',
 'blending',
 'blessed',
 'blip',
 'blockchain',
 'bloomberg',
 'blue',
 'bmw',
 'boat',
 'body',
 'boeing',
 'bolt',
 'bomb',
 'booked',
 'boom',
 'boon',
 'boost',
 'booth',
 'born',
 'both',
 'bottom',
 'bought',
 'bowel',
 'bowled',
 'boy',
 'brad',
 'breaking',
 'breaks',
 'breast',
 'breath',
 'breed',
 'breeder',
 'breeders',
 'brick',
 'bride',
 'bridegroom',
 'brilliant',
 'bring',
 'brings',
 'britain',
 'british',
 'broke',
 'bronze',
 'brooklyn',
 'brother',
 'bse',
 'buffett',
 'build',
 'building',
 'built',
 'bulging',
 'burglary',
 'bus',
 'buses',
 'business',
 'businessman',
 'but',
 'butting',
 'button',
 'buttons',
 'buyers',
 'by',
 'byd',
 'byju',
 'cab',
 'cabinet',
 'cabs',
 'cadabom',
 'cadre',
 'calculations',
 'calcutta',
 'called',
 'calling',
 'calls',
 'came',
 'cameras',
 'campaign',
 'campaigners',
 'can',
 'canada',
 'canal',
 'cancellations',
 'cancer',
 'cane',
 'cannabis',
 'cannot',
 'capital',
 'capsule',
 'captain',
 'caption',
 'capture',
 'captured',
 'capturing',
 'car',
 'cardiac',
 'cards',
 'carmakers',
 'carrom',
 'carry',
 'carrying',
 'cars',
 'case',
 'cash',
 'casque',
 'caste',
 'cat',
 'category',
 'caucasian',
 'caught',
 'cause',
 'caused',
 'causes',
 'cbfc',
 'cctv',
 'ceded',
 'celebrate',
 'celesta',
 'cells',
 'censors',
 'center',
 'central',
 'centre',
 'centres',
 'century',
 'ceo',
 'chahal',
 'chain',
 'chair',
 'chairman',
 'chairs',
 'challenged',
 'challenges',
 'chan',
 'chancellor',
 'chandigarh',
 'chandragiriya',
 'chandrashekar',
 'change',
 'channel',
 'chaos',
 'charan',
 'charania',
 'charge',
 'charges',
 'charles',
 'chart',
 'chautala',
 'cheat',
 'checked',
 'chelsea',
 'chennai',
 'chest',
 'cheyyanivvandi',
 'chief',
 'children',
 'china',
 'chinese',
 'chips',
 'choice',
 'choose',
 'cinema',
 'circles',
 'circular',
 'circus',
 'citizens',
 'citizenship',
 'city',
 'civil',
 'claim',
 'claimed',
 'claiming',
 'class',
 'classmates',
 'cleaning',
 'climate',
 'clocked',
 'close',
 'closely',
 'clothes',
 'club',
 'clubs',
 'cm',
 'co',
 'coalition',
 'coast',
 'code',
 'coinbase',
 'cold',
 'collaboration',
 'collapsed',
 'collections',
 'collective',
 'college',
 'colluding',
 'colour',
 'colours',
 'combating',
 'come',
 'comedy',
 'comes',
 'coming',
 'commence',
 'commended',
 'comment',
 'commented',
 'commenting',
 'comments',
 'commercial',
 'commission',
 'commissioner',
 'commitment',
 'committee',
 'commonwealth',
 'communications',
 'communities',
 'companies',
 'company',
 'compared',
 'compensate',
 'competition',
 'complained',
 'complete',
 'completed',
 'complications',
 'component',
 'compound',
 'concentrating',
 'concept',
 'concerns',
 'concert',
 'condemned',
 'condition',
 'conditioned',
 'conditions',
 'condominiums',
 'conference',
 'confidential',
 'configure',
 'confirmed',
 'confiscated',
 'congratulate',
 'congress',
 'congressional',
 'congressionally',
 'connection',
 'connectivity',
 'consecutive',
 'considered',
 'considering',
 'consignment',
 'consolidated',
 'conspiracy',
 'constellation',
 'constituencies',
 'construction',
 'consultancy',
 'consultation',
 'consumer',
 'containing',
 'contempt',
 'content',
 'contest',
 'contribute',
 'control',
 'controlled',
 'controversy',
 'convention',
 'conversation',
 'convicted',
 'cooperation',
 'cornwall',
 'corporation',
 'corroborated',
 'corruption',
 'cost',
 'couldn',
 'council',
 'counterpart',
 'countries',
 'country',
 'couple',
 'court',
 'courts',
 'cover',
 'covid',
 'crackdown',
 'crane',
 'crashed',
 'crashing',
 'create',
 'creative',
 'creativity',
 'creature',
 'crew',
 'cricket',
 'crime',
 'crimes',
 'criticised',
 'criticism',
 'crore',
 'cross',
 'crushed',
 'crypto',
 'cryptocurrency',
 'cub',
 'cuddalore',
 'culled',
 'cup',
 'cups',
 'currently',
 'currents',
 'custom',
 'customer',
 'cut',
 'cuts',
 'cyclone',
 'daanini',
 'dada',
 'dadra',
 'daily',
 'dal',
 'damaged',
 'damages',
 'dampen',
 'dance',
 'dap',
 'dare',
 'darekar',
 'dasun',
 'data',
 'date',
 'daughter',
 'day',
 'dayanand',
 'days',
 'deal',
 'death',
 'debt',
 'decades',
 'deceased',
 'december',
 'decided',
 'decision',
 'decisive',
 'declaration',
 'declarations',
 'declare',
 'decline',
 'declined',
 'decorum',
 'dedicated',
 'dedication',
 'dee',
 'deep',
 'deepanshu',
 'deeper',
 'deepika',
 'deepwaters',
 'defamatory',
 'defect',
 'defence',
 'defense',
 'degree',
 'degrees',
 'delhi',
 'deliver',
 'delivered',
 'deliveries',
 'delivery',
 'demand',
 'democracy',
 'democratic',
 'denotes',
 'department',
 'departments',
 'departure',
 'depleting',
 'deploy',
 'deputy',
 'der',
 'described',
 'deshpande',
 'desi',
 'design',
 'desperate',
 'despite',
 'details',
 'detonate',
 'develop',
 'developers',
 'developing',
 'development',
 'dhanu',
 'dhawan',
 'did',
 'didn',
 'died',
 'difference',
 'different',
 'differently',
 'difficult',
 'digital',
 'dilip',
 'dimple',
 'din',
 'dinesh',
 'dinner',
 'diplomat',
 'dipped',
 'direct',
 'directed',
 'director',
 'disappearing',
 'disappointment',
 'discharged',
 'disclosed',
 'discounted',
 'discounts',
 'discovered',
 'discussions',
 'disease',
 'disgrace',
 'dislodged',
 'disposal',
 'dispur',
 'dispute',
 'disputes',
 'disruptions',
 'distillation',
 'district',
 'divas',
 'diverting',
 'djokovic',
 'dmytro',
 'do',
 'does',
 'doesn',
 'dog',
 'doing',
 'dollar',
 'don',
 'done',
 'donor',
 'doubles',
 'doubt',
 'down',
 'dozens',
 'dr',
 'dragon',
 'driver',
 'driverless',
 'drivers',
 'driving',
 'droneacharya',
 'drop',
 'dropouts',
 'dropped',
 'drug',
 'drunk',
 'dua',
 'due',
 'during',
 'dushyant',
 'dust',
 'dynamics',
 'earlier',
 'early',
 'earned',
 'earth',
 'eating',
 'economic',
 'economics',
 'economy',
 'ecp',
 'edition',
 'edits',
 'edtech',
 'education',
 'effective',
 'effectiveness',
 'effie',
 'egg',
 'eight',
 'either',
 'election',
 'elections',
 'electric',
 'electronics',
 'elements',
 'eligible',
 'eliminate',
 'elon',
 'embarrassed',
 'embarrassment',
 'emitted',
 'emory',
 'employee',
 'employees',
 'empowerment',
 'end',
 'ended',
 'energy',
 'engage',
 'engineered',
 'engineering',
 'engineers',
 'english',
 'enter',
 'entered',
 'enterprises',
 'entire',
 'entirely',
 'entities',
 'environment',
 'equipment',
 'equipped',
 'equity',
 'eruptions',
 'escalators',
 'essayist',
 'essential',
 'establish',
 'established',
 'estimated',
 'ethanol',
 'eu',
 'europe',
 'european',
 'evacuation',
 'even',
 'event',
 'ever',
 'every',
 'everyone',
 'evs',
 ...]

In [100]:
cv.vocabulary_

{'video': 2818,
 'has': 1266,
 'gone': 1208,
 'viral': 2826,
 'showing': 2415,
 'an': 259,
 'autorickshaw': 354,
 'moving': 1763,
 'in': 1365,
 'circles': 626,
 'without': 2907,
 'driver': 914,
 'maharashtra': 1639,
 'ratnagiri': 2161,
 'the': 2656,
 'several': 2380,
 'people': 1970,
 'can': 543,
 'be': 402,
 'seen': 2358,
 'trying': 2731,
 'to': 2685,
 'stop': 2535,
 'it': 1448,
 'as': 309,
 'per': 1971,
 'reports': 2227,
 'steering': 2521,
 'of': 1859,
 'got': 1212,
 'locked': 1608,
 'after': 204,
 'fell': 1069,
 'started': 2508,
 'running': 2290,
 'around': 299,
 'circular': 627,
 'motion': 1756,
 'before': 414,
 'being': 419,
 'stopped': 2536,
 'by': 526,
 'onlookers': 1882,
 'countries': 743,
 'have': 1269,
 'expressed': 1027,
 'intent': 1410,
 'adopt': 188,
 'homegrown': 1316,
 'unified': 2765,
 'payments': 1967,
 'interface': 1412,
 'upi': 2781,
 'national': 1792,
 'corporation': 736,
 'india': 1379,
 'npci': 1842,
 'md': 1688,
 'and': 263,
 'ceo': 589,
 'dilip': 867,
 'asbe': 310,
 'said': 2302,
 'on': 1876,
 'monday': 1741,
 'he': 1276,
 'mentioned': 1705,
 'that': 2655,
 'will': 2897,
 'provide': 2109,
 'technical': 2630,
 'know': 1529,
 'how': 1334,
 'software': 2452,
 'handholding': 1255,
 'support': 2582,
 'these': 2663,
 'objective': 1850,
 'is': 1439,
 'whether': 2885,
 'we': 2862,
 'look': 1613,
 'at': 335,
 'million': 1718,
 'dollar': 904,
 'implementation': 1357,
 'smaller': 2445,
 'country': 744,
 'added': 179,
 'ac': 153,
 'charania': 606,
 'indian': 1380,
 'american': 251,
 'aerospace': 201,
 'industry': 1385,
 'expert': 1020,
 'been': 412,
 'appointed': 288,
 'nasa': 1790,
 'new': 1808,
 'chief': 618,
 'technologist': 2632,
 'us': 2785,
 'space': 2469,
 'agency': 208,
 'lead': 1567,
 'technology': 2633,
 'innovation': 1394,
 'help': 1289,
 'align': 228,
 'wide': 2894,
 'investments': 1427,
 'with': 2904,
 'mission': 1729,
 'needs': 1803,
 'holds': 1314,
 'bachelor': 367,
 'master': 1678,
 'degrees': 828,
 'engineering': 969,
 'from': 1152,
 'georgia': 1186,
 'institute': 1405,
 'atlanta': 336,
 'droneacharya': 918,
 'aerial': 200,
 'innovations': 1395,
 'which': 2886,
 'was': 2855,
 'listed': 1599,
 'about': 145,
 'two': 2742,
 'weeks': 2870,
 'ago': 212,
 'bse': 510,
 'sme': 2446,
 'platform': 2008,
 'delivered': 831,
 'over': 1911,
 '300': 73,
 'returns': 2251,
 'stock': 2530,
 '54': 99,
 'december': 805,
 'now': 1841,
 'trading': 2708,
 '220': 61,
 'company': 681,
 'valued': 2798,
 '529': 97,
 '67': 108,
 'crore': 764,
 'among': 255,
 'top': 2695,
 '25': 69,
 'most': 1754,
 'expensive': 1018,
 'stocks': 2531,
 'compared': 682,
 'all': 230,
 'companies': 680,
 'edtech': 941,
 'startup': 2510,
 'toddle': 2686,
 'raised': 2139,
 '17': 29,
 'series': 2373,
 'funding': 1165,
 'round': 2279,
 'led': 1578,
 'sequoia': 2372,
 'capital': 551,
 'saw': 2325,
 'participation': 1950,
 'tenacity': 2644,
 'ventures': 2810,
 'trifecta': 2724,
 'along': 240,
 'existing': 1012,
 'investors': 1428,
 'including': 1370,
 'matrix': 1682,
 'partners': 1952,
 'beenext': 413,
 'better': 432,
 'bengaluru': 428,
 'headquartered': 1279,
 'founded': 1139,
 'deepanshu': 819,
 'arora': 298,
 'nikhil': 1818,
 'poonawala': 2027,
 'gautam': 1181,
 'misbah': 1725,
 'jafary': 1452,
 'parita': 1945,
 'parekh': 1943,
 'bjp': 465,
 'leader': 1568,
 'haryana': 1265,
 'minister': 1720,
 'manohar': 1661,
 'lal': 1543,
 'khattar': 1516,
 'tuesday': 2734,
 'does': 900,
 'not': 1831,
 'understand': 2760,
 'what': 2879,
 'philosophy': 1986,
 'congress': 706,
 'rahul': 2137,
 'gandhi': 1175,
 'times': 2684,
 'becomes': 411,
 'lord': 1615,
 'shiva': 2401,
 'bhakt': 437,
 'takes': 2615,
 'pujari': 2114,
 'embarrassed': 957,
 'says': 2328,
 'indeed': 1377,
 'pappu': 1940,
 'picture': 1993,
 'social': 2449,
 'media': 1696,
 'woman': 2909,
 'carrying': 564,
 'flat': 1105,
 'mates': 1681,
 'required': 2233,
 'placard': 2000,
 'lucky': 1627,
 'ali': 226,
 'concert': 694,
 'finding': 1090,
 'harder': 1260,
 'than': 2653,
 'flatmate': 1106,
 'twitter': 2741,
 'user': 2788,
 'commented': 669,
 'struggle': 2553,
 'real': 2173,
 'another': 274,
 'tweet': 2737,
 'read': 2172,
 'desperate': 849,
 'calls': 538,
 'for': 1121,
 'levels': 1587,
 'creativity': 756,
 'topped': 2696,
 'chart': 610,
 '10': 6,
 'billion': 457,
 '2022': 48,
 'data': 794,
 'tracxn': 2706,
 'showed': 2414,
 'however': 1335,
 'amount': 256,
 'nearly': 1799,
 '50': 94,
 'lower': 1623,
 '2021': 47,
 'when': 2882,
 'based': 396,
 'startups': 2511,
 '20': 35,
 'mumbai': 1768,
 'received': 2179,
 'highest': 1295,
 'followed': 1118,
 'gurugram': 1243,
 'delhi': 829,
 'chennai': 615,
 'kerala': 1510,
 'government': 1215,
 'held': 1288,
 'talks': 2619,
 'italian': 1449,
 'business': 519,
 'tycoon': 2743,
 'tonino': 2691,
 'lamborghini': 1545,
 'setting': 2377,
 'up': 2778,
 'vehicle': 2806,
 'manufacturing': 1662,
 'plant': 2006,
 'state': 2512,
 'industries': 1384,
 'rajeev': 2141,
 'wrote': 2928,
 'facebook': 1035,
 'they': 2664,
 'discussions': 884,
 'investment': 1426,
 'opportunities': 1890,
 'areas': 294,
 'like': 1593,
 'convention': 731,
 'centres': 587,
 'luxury': 1628,
 'hotels': 1328,
 'flats': 1107,
 'condominiums': 699,
 'lot': 1619,
 'potential': 2043,
 'union': 2767,
 'finance': 1087,
 'nirmala': 1824,
 'sitharaman': 2437,
 'remittances': 2216,
 'sent': 2365,
 'overseas': 1913,
 'indians': 1381,
 'were': 2877,
 'increased': 1373,
 '12': 13,
 '100': 7,
 'she': 2395,
 'described': 845,
 'nris': 1843,
 'ambassadors': 248,
 'appealed': 286,
 'them': 2659,
 'use': 2786,
 'made': 1633,
 'products': 2091,
 'far': 1051,
 'possible': 2041,
 'jack': 1451,
 'ma': 1630,
 'owned': 1919,
 'alibaba': 227,
 'signed': 2422,
 'cooperation': 734,
 'agreement': 213,
 'hangzhou': 1257,
 'city': 631,
 'where': 2883,
 'local': 1605,
 'reported': 2225,
 'signing': 2423,
 'event': 995,
 'authorities': 350,
 'formulated': 1134,
 'specific': 2476,
 'measures': 1694,
 'develop': 853,
 'online': 1881,
 'economy': 937,
 'comes': 664,
 'days': 799,
 'ant': 275,
 'group': 1233,
 'announced': 269,
 'ceded': 579,
 'control': 728,
 'firm': 1094,
 'working': 2918,
 'president': 2065,
 'virendra': 2828,
 'sachdeva': 2293,
 'criticised': 762,
 'arvind': 308,
 'kejriwal': 1507,
 'failed': 1041,
 'every': 997,
 'front': 1153,
 'governance': 1214,
 'development': 856,
 'but': 521,
 'its': 1450,
 'failure': 1044,
 'cleaning': 638,
 'yamuna': 2933,
 'river': 2265,
 'absolute': 149,
 'really': 2175,
 'shameful': 2383,
 'cm': 646,
 'pious': 1997,
 'done': 906,
 'nothing': 1836,
 'last': 1553,
 'eight': 947,
 'years': 2936,
 'power': 2047,
 'mysterious': 1778,
 'deep': 818,
 'sea': 2341,
 'creature': 757,
 'bulging': 515,
 'eyes': 1030,
 'caught': 573,
 'deepwaters': 822,
 'off': 1860,
 'southeastern': 2467,
 'australia': 348,
 'professional': 2092,
 'fisherman': 1099,
 'who': 2888,
 'fish': 1098,
 'shared': 2389,
 'writing': 2927,
 'probably': 2085,
 'ugliest': 2748,
 've': 2805,
 'ever': 996,
 'apparently': 284,
 'good': 1209,
 'eating': 934,
 'stated': 2513,
 '771': 117,
 'foot': 1120,
 'weighed': 2871,
 'four': 1141,
 'kg': 1513,
 'telangana': 2636,
 'revanth': 2253,
 'reddy': 2191,
 'alleged': 231,
 '60': 102,
 'sarpanches': 2321,
 'died': 861,
 'suicide': 2571,
 'did': 859,
 'release': 2207,
 'funds': 1166,
 'are': 292,
 'due': 925,
 'gram': 1218,
 'panchayats': 1933,
 'accused': 163,
 'chandrashekar': 601,
 'rao': 2154,
 'diverting': 896,
 'worth': 2922,
 '35': 80,
 '000': 1,
 'some': 2456,
 'representatives': 2228,
 'spent': 2479,
 'their': 2658,
 'own': 1918,
 'money': 1743,
 'villages': 2824,
 'ashneer': 313,
 'grover': 1235,
 'took': 2693,
 'linkedin': 1596,
 'share': 2388,
 'details': 851,
 'his': 1306,
 'third': 2668,
 'unicorn': 2764,
 'doing': 903,
 'things': 2666,
 'differently': 864,
 'very': 2814,
 'post': 2042,
 'asked': 316,
 'venture': 2809,
 'vc': 2804,
 'firms': 1095,
 'stay': 2519,
 'away': 360,
 'only': 1883,
 'desi': 847,
 'self': 2362,
 'earned': 932,
 'further': 1167,
 'team': 2627,
 'home': 1315,
 'affairs': 202,
 'nisith': 1826,
 'pramanik': 2053,
 'surrendered': 2595,
 'court': 746,
 'west': 2878,
 'bengal': 427,
 'involvement': 1432,
 'burglary': 516,
 'jewellery': 1471,
 'shops': 2407,
 'alipurduar': 229,
 '2009': 39,
 'calcutta': 535,
 'high': 1293,
 'had': 1246,
 'directed': 875,
 'physically': 1990,
 'present': 2064,
 'january': 1460,
 'this': 2669,
 'political': 2025,
 'conspiracy': 716,
 'frame': 1144,
 'me': 1689,
 'hc': 1274,
 'quashed': 2132,
 'central': 585,
 'administrative': 185,
 'tribunal': 2723,
 'cat': 570,
 'hyderabad': 1342,
 'bench': 424,
 'order': 1895,
 'allotment': 234,
 'ias': 1344,
 'officer': 1865,
 'secretary': 2347,
 'somesh': 2457,
 'kumar': 1538,
 'andhra': 264,
 'pradesh': 2050,
 'cadre': 533,
 'reserved': 2238,
 'verdict': 2813,
 'matter': 1683,
 'july': 1486,
 'centre': 586,
 'challenged': 595,
 'brother': 509,
 'former': 1132,
 'coinbase': 651,
 'product': 2089,
 'manager': 1654,
 'ishan': 1440,
 'wahi': 2841,
 'sentenced': 2367,
 'months': 1747,
 'prison': 2078,
 'pleading': 2014,
 'guilty': 1239,
 'september': 2370,
 'insider': 1399,
 'case': 566,
 'admitted': 187,
 'trades': 2707,
 'confidential': 701,
 'information': 1390,
 'prosecutors': 2103,
 '900': 126,
 'profits': 2096,
 'scheme': 2331,
 'pleaded': 2013,
 'custom': 776,
 'build': 512,
 'homes': 1317,
 'brick': 498,
 'bolt': 476,
 'co': 647,
 'iit': 1349,
 'roorkee': 2275,
 'alumnus': 244,
 'jayesh': 1464,
 'rajpurohit': 2144,
 'global': 1199,
 'accel': 155,
 'celesta': 581,
 'earlier': 930,
 'surge': 2588,
 'foundamental': 1137,
 'hdfc': 1275,
 'advisors': 199,
 'stride': 2547,
 'university': 2772,
 'vice': 2816,
 'chancellor': 598,
 'yogesh': 2942,
 'singh': 2431,
 'hindi': 1301,
 'soul': 2464,
 'prevalence': 2068,
 'increasing': 1374,
 'day': 797,
 'language': 1548,
 'love': 1620,
 'personal': 1978,
 'touch': 2701,
 'our': 1906,
 'mind': 1719,
 'popular': 2028,
 'let': 1585,
 'remarks': 2214,
 'celebrate': 580,
 'world': 2920,
 'kamal': 1495,
 'nath': 1791,
 'scheduled': 2330,
 'tribe': 2722,
 'st': 2494,
 'caste': 569,
 'sc': 2329,
 'communities': 679,
 'play': 2009,
 'decisive': 808,
 'role': 2273,
 'madhya': 1634,
 'election': 949,
 'there': 2662,
 '150': 22,
 'seats': 2343,
 'out': 1907,
 '230': 65,
 'assembly': 323,
 'one': 1878,
 'cannot': 550,
 'win': 2898,
 'pm': 2018,
 'narendra': 1787,
 'modi': 1736,
 'attention': 344,
 'groomsmen': 1231,
 'groom': 1230,
 'arriving': 302,
 'wedding': 2866,
 'venue': 2811,
 'sarees': 2319,
 'bindi': 458,
 'men': 1704,
 'saree': 2318,
 'walking': 2844,
 'down': 910,
 'michigan': 1713,
 'avenue': 355,
 'bride': 499,
 'surprising': 2594,
 'so': 2448,
 'wholesome': 2890,
 'absolutely': 150,
 'adorable': 191,
 'instagram': 1401,
 'first': 1096,
 'rocket': 2269,
 'launch': 1558,
 'uk': 2749,
 'soil': 2453,
 'take': 2612,
 'place': 2001,
 'cornwall': 735,
 'called': 536,
 'start': 2507,
 'involves': 1433,
 'repurposed': 2230,
 'virgin': 2829,
 'atlantic': 337,
 'boeing': 475,
 '747': 114,
 'aircraft': 220,
 'orbit': 1892,
 'launcherone': 1560,
 'carry': 563,
 'set': 2376,
 'satellites': 2323,
 'into': 1418,
 'prototype': 2107,
 'orbiting': 1894,
 'factory': 1040,
 'making': 1649,
 'value': 2797,
 'alloys': 237,
 'semiconductors': 2364,
 'actor': 173,
 'shah': 2381,
 'rukh': 2288,
 'khan': 1514,
 'tweeted': 2738,
 'rrr': 2286,
 'ram': 2146,
 'charan': 605,
 'telugu': 2640,
 'brings': 503,
 'oscar': 1902,
 'please': 2015,
 'mee': 1698,
 'ni': 1814,
 'intiki': 1417,
 'tecchinappudu': 2628,
 'okkasaari': 1869,
 'nannu': 1786,
 'daanini': 781,
 'cheyyanivvandi': 617,
 'naatu': 1781,
 'shortlisted': 2409,
 'academy': 154,
 'awards': 359,
 'south': 2466,
 'korea': 1534,
 'antitrust': 278,
 'regulator': 2202,
 'impose': 1360,
 '85': 122,
 'won': 2911,
 'fine': 1091,
 'tesla': 2651,
 'false': 1049,
 'advertising': 195,
 'related': 2205,
 'driving': 917,
 'range': 2149,
 'electric': 951,
 'vehicles': 2807,
 'evs': 999,
 'exaggerated': 1002,
 'ranges': 2150,
 'cars': 565,
 'single': 2432,
 'charge': 607,
 'fuel': 1156,
 'cost': 739,
 'effectiveness': 944,
 'gasoline': 1179,
 'also': 243,
 'superchargers': 2579,
 'performance': 1972,
 'balbir': 382,
 'oath': 1847,
 'punjab': 2116,
 'health': 1283,
 'family': 1050,
 'welfare': 2874,
 'week': 2869,
 'model': 1735,
 'popularised': 2029,
 'across': 169,
 'globe': 1201,
 'similar': 2426,
 'adopted': 189,
 'too': 2692,
 'll': 1603,
 'my': 1777,
 'priority': 2077,
 'programmes': 2099,
 'should': 2412,
 'implemented': 1358,
 'grassroots': 1222,
 'quality': 2127,
 'primary': 2073,
 'secondary': 2345,
 'tertiary': 2650,
 'healthcare': 1284,
 'facilities': 1037,
 'supriya': 2584,
 'sahu': 2301,
 'works': 2919,
 'additional': 182,
 'environment': 978,
 'climate': 639,
 'change': 602,
 'forests': 1127,
 'tamil': 2620,
 'nadu': 1783,
 'photo': 1987,
 'hornbills': 1322,
 'here': 1292,
 'brilliant': 501,
 'capture': 555,
 'mid': 1714,
 'air': 219,
 'casque': 568,
 'butting': 522,
 'engage': 967,
 'aggressive': 210,
 'fight': 1074,
 'captured': 556,
 'dhanu': 857,
 'paran': 1942,
 'fabulous': 1033,
 'shot': 2410,
 'comment': 668,
 'while': 2887,
 'person': 1977,
 'astonishing': 329,
 'nhtsa': 1813,
 'questioned': 2134,
 'elon': 956,
 'musk': 1772,
 '31': 74,
 'suggested': 2570,
 'would': 2923,
 'eliminate': 955,
 'monitoring': 1745,
 'function': 1161,
 'warns': 2852,
 'users': 2789,
 'keep': 1506,
 'hands': 1256,
 'wheel': 2881,
 'using': 2790,
 'fsd': 1155,
 'query': 2133,
 'connection': 709,
 'ongoing': 1880,
 'defect': 824,
 'probe': 2086,
 'lakh': 1542,
 'pacer': 1925,
 'mohammad': 1737,
 'shami': 2384,
 'mankaded': 1660,
 'sri': 2491,
 'lanka': 1549,
 'captain': 553,
 'dasun': 793,
 'shanaka': 2385,
 'odi': 1856,
 'guwahati': 1244,
 'withdrew': 2905,
 'appeal': 285,
 'rohit': 2272,
 'sharma': 2393,
 'intervened': 1415,
 'same': 2308,
 'field': 1073,
 'umpire': 2753,
 'referred': 2195,
 'decision': 807,
 'dislodged': 887,
 'bails': 379,
 'once': 1877,
 'japan': 1461,
 'agriculture': 214,
 'ministry': 1722,
 'almost': 238,
 'birds': 460,
 'culled': 771,
 'season': 2342,
 'surpassing': 2592,
 'previous': 2070,
 'record': 2184,
 '2020': 46,
 'bloomberg': 470,
 'announcement': 270,
 'confirmed': 703,
 'bird': 459,
 'flu': 1114,
 'egg': 946,
 'farm': 1053,
 'miyazaki': 1731,
 'prefecture': 2057,
 'housed': 1332,
 '00': 0,
 'hens': 1290,
 'disease': 885,
 'found': 1136,
 'least': 1574,
 '23': 64,
 '47': 93,
 'prefectures': 2058,
 'stripped': 2549,
 'travelled': 2717,
 'pants': 1939,
 '12th': 16,
 'annual': 272,
 'no': 1827,
 'trousers': 2727,
 'tube': 2732,
 'ride': 2257,
 'london': 1610,
 'sunday': 2577,
 'inspired': 1400,
 'york': 2943,
 'subway': 2564,
 '2002': 36,
 'pictures': 1994,
 'taking': 2616,
 'underground': 2758,
 'ticket': 2676,
 'machines': 1632,
 'escalators': 983,
 'rare': 2158,
 'condition': 696,
 'wherein': 2884,
 'heart': 1286,
 'shaped': 2386,
 'uterus': 2791,
 'given': 1196,
 'birth': 461,
 'twins': 2740,
 'marking': 1672,
 '500': 95,
 'women': 2910,
 'or': 1891,
 'bicornuate': 451,
 'babies': 365,
 'born': 483,
 'year': 2935,
 'old': 1871,
 'karen': 1499,
 'monitored': 1744,
 'closely': 642,
 'because': 409,
 'risk': 2263,
 'pregnancy': 2059,
 'earth': 933,
 'ozone': 1924,
 'layer': 1565,
 'track': 2705,
 'recover': 2187,
 'within': 2906,
 'decades': 803,
 'un': 2755,
 'backed': 369,
 'panel': 1937,
 'experts': 1021,
 'report': 2224,
 'published': 2113,
 'progress': 2100,
 'montreal': 1748,
 'protocol': 2106,
 'phase': 1985,
 '99': 132,
 'banned': 390,
 'depleting': 841,
 'substances': 2563,
 'warned': 2850,
 'unintended': 2766,
 'impacts': 1356,
 'technologies': 2631,
 'such': 2567,
 'geoengineering': 1185,
 '98': 131,
 'man': 1652,
 'farewell': 1052,
 'jail': 1454,
 'staff': 2497,
 'released': 2208,
 'uttar': 2793,
 'ayodhya': 363,
 'convicted': 733,
 'under': 2757,
 'sections': 2348,
 '452': 92,
 '323': 76,
 '352': 81,
 'ipc': 1434,
 'five': 1101,
 'officials': 1867,
 'came': 539,
 'taken': 2613,
 'police': 2022,
 'scientists': 2335,
 'intruder': 1421,
 'galaxy': 1171,
 'crashing': 753,
 'stephan': 2524,
 'quintet': 2135,
 'galaxies': 1170,
 'triggering': 2725,
 'shockwave': 2403,
 'large': 1551,
 'milky': 1717,
 'way': 2860,
 'ngc7318b': 1812,
 'violently': 2825,
 'intruded': 1420,
 'relative': 2206,
 'speed': 2477,
 '800': 118,
 'kilometres': 1522,
 'second': 2344,
 'sonic': 2461,
 'boom': 479,
 'kickstarted': 1517,
 'recycling': 2190,
 'warm': 2849,
 'cold': 652,
 'molecular': 1739,
 'hydrogen': 1343,
 'gas': 1178,
 'between': 433,
 'jailed': 1455,
 'hong': 1318,
 'kong': 1533,
 'jimmy': 1474,
 'lai': 1540,
 'international': 1413,
 'legal': 1581,
 'requested': 2231,
 'rishi': 2262,
 'sunak': 2576,
 'urgent': 2783,
 'meeting': 1700,
 'ahead': 215,
 'trial': 2721,
 'security': 2352,
 'charges': 608,
 'british': 505,
 'citizenship': 630,
 'arrested': 301,
 'during': 926,
 'crackdown': 750,
 'pro': 2084,
 'democracy': 835,
 ...}

In [101]:
bow = pd.DataFrame(bag_of_words.todense())
bow.columns = cv.get_feature_names()

In [102]:
bow

,00,000,01,058,06,094,10,100,104,108,...,younger,your,yourself,yue,zealand,zero,zerodha,zhu,zuckerberg,ötvös
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
159,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
160,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
161,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
162,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [103]:
bow.apply(lambda row: row / row.sum(), axis=1)

,00,000,01,058,06,094,10,100,104,108,...,younger,your,yourself,yue,zealand,zero,zerodha,zhu,zuckerberg,ötvös
0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
159,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161,0.0,0.0,0.0,0.0,0.0,0.0,0.015625,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# TF-IDF Term Frequency Inverse Document Frequency

In [104]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
bag_of_words = tfidf.fit_transform(train.content)

pd.DataFrame(bag_of_words.todense(), 
             columns=tfidf.get_feature_names())

/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,000,01,058,06,094,10,100,104,108,...,younger,your,yourself,yue,zealand,zero,zerodha,zhu,zuckerberg,ötvös
0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
159,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161,0.0,0.0,0.0,0.0,0.0,0.0,0.10911,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [105]:
# zip: put these two things of the same length together
# dict: turn those two associated things into a k: v pair
# pd.Series: turn those keys into indeces, and the values into values
pd.Series(
    dict(
        zip(
            tfidf.get_feature_names(), tfidf.idf_)))

/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

00            5.001254
000           3.701971
01            5.406719
058           5.406719
06            5.406719
                ...
zero          5.406719
zerodha       5.406719
zhu           5.406719
zuckerberg    5.406719
ötvös         5.406719
Length: 2956, dtype: float64

In [106]:
cv = CountVectorizer(ngram_range=(2, 2))
bag_of_grams = cv.fit_transform(train.content)

In [107]:
pd.DataFrame(bag_of_grams.todense(),
            columns=cv.get_feature_names())

/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00 000,000 000,000 cabs,000 crore,000 electric,000 hens,000 in,000 kilogrammes,000 one,000 or,...,yue 12,zealand and,zero cancellations,zerodha reported,zerodha total,zhu has,zhu the,zhu will,zuckerberg are,ötvös the
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
159,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
160,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
161,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
162,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [109]:
# add additional column with clean text
inshort_df['clean_text'] = inshort_df.content.apply(clean).apply(' '.join)

In [110]:
inshort_df

,title,content,category,technology,clean_text
0,"Woman, fiance beaten up by bouncers at Gurugra...",A woman and her fiance suffered injuries after...,national,no,woman fiance suffered injury allegedly beaten ...
1,"Indian-origin man gets 13-year jail, 10 stroke...",An Indian-origin man has been sentenced to 13 ...,national,no,indianorigin man sentenced 13 year jail 10 str...
2,India successfully carries out training launch...,A successful training launch of a short-range ...,national,no,successful training launch shortrange ballisti...
3,"NOCs of over 2,000 CBSE schools in Maha to be ...",Maharashtra Education Commissioner Suraj Mandh...,national,no,maharashtra education commissioner suraj mandh...
4,"Cong is embarrassed by what Rahul says, he's i...",BJP leader and Haryana Chief Minister Manohar ...,national,no,bjp leader haryana chief minister manohar lal ...
...,...,...,...,...,...
288,Stellantis may shut more auto plants due to hi...,Stellantis NV CEO Carlos Tavares said on Thurs...,automobile,no,stellantis nv ceo carlos tavares said thursday...
289,Tesla owners in China demand refund after sudd...,Around 200 recent buyers of Tesla's Model Y an...,automobile,no,around 200 recent buyer tesla model model 3 ga...
290,Rolls-Royce reports record car sales in 118 years,Luxury car maker Rolls-Royce has sold 6021 car...,automobile,no,luxury car maker rollsroyce sold 6021 car 2022...
291,Tata Motors completes ₹725-crore acquisition o...,Tata Motors on Tuesday said that the acquisiti...,automobile,no,tata motor tuesday said acquisition ford india...
292,Tesla's December sales in China fall 41% despi...,Tesla's December sales in China plunged 41% fr...,automobile,no,tesla december sale china plunged 41 year earl...

In [111]:
X = inshort_df.clean_text
y =inshort_df.technology
X_train, X_test, y_train, y_test = \
train_test_split(X, y, 
                 test_size=0.2, 
                 random_state=1349)

In [112]:
X_train.head()

198    ia officer supriya sahu work additional chief ...
141    droneacharya aerial innovation listed two week...
187    hrithik roshan speaking upcoming aerial action...
222    video gone viral social medium showing guest w...
201    video showing two passenger punching slapping ...
Name: clean_text, dtype: object

In [113]:
y_train.head()

198     no
141    yes
187     no
222     no
201     no
Name: technology, dtype: object

In [114]:
# Whatever transformations we apply to X_train need to be applied to X_test
cv = CountVectorizer()
X_bow = cv.fit_transform(X_train)
tree = DecisionTreeClassifier(max_depth=3)
tree.fit(X_bow, y_train)
tree.score(X_bow, y_train)

0.9444444444444444

In [115]:
# as with any other sklearn transformation, 
# transform only on our validate and/or test, 
# only fit on train
X_test_bow = cv.transform(X_test)
tree.score(X_test_bow, y_test)

0.9152542372881356

In [116]:
pd.Series(
    dict(
    zip(cv.get_feature_names(), 
    tree.feature_importances_))).sort_values().tail()

/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

economy     0.000000
take        0.051451
software    0.193631
insider     0.302183
tc          0.452735
dtype: float64